:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --lightGrey: hsl(217, 12%, 63%);
  --mediumGrey: hsl(216, 12%, 54%);
  --darkBlue: hsl(213, 19%, 18%);
  --veryDarkBlue: hsl(216, 12%, 8%);
}

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

.outerBox {
  background-image: linear-gradient(
    to bottom left,
    var(--darkBlue),
    var(--veryDarkBlue)
  );
  padding: 30px;
  border-radius: 30px;
  height: 360px;
  width: 350px;
}

body {
  background-color: var(--veryDarkBlue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 95vh;
}

h2 {
  color: rgb(234, 230, 230);
  font-family: 'Overpass', sans-serif;
  font-size: 1.5rem;
  padding: 0 0 5px 0;
}

p {
  color: var(--lightGrey);
  font-family: 'Overpass', sans-serif;
  font-size: 13px;
}

.icon {
  border-radius: 100%;
  padding: 9px;
  background: var(--darkBlue);
  margin: 0 0 30px 0;
}

.rate {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.rating {
  background: var(--darkBlue);
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 100%;
  font-size: 1.2rem;
  color: var(--mediumGrey);
  transition: 0.3s ease all;
  margin: 15px 0 5px 0;
}

.rating:hover {
  background: var(--orange);
  color: rgb(223, 219, 219);
}

.rating:focus {
  background: var(--lightGrey);
  color: var(--veryDarkBlue);
}

.divBtn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.submitBtn {
  background-color: var(--orange);
  color: white;
  padding: 8px;
  border-radius: 100px;
  border: 0px;
  font-weight: 400;
  font-size: 1rem;
  transition: 0.3s ease all;
  width: 98%;
  align-self: center;
}

.submitBtn:hover {
  background-color: white;
  color: var(--orange);
}
